
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Sora", sans-serif;
}

body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;

}.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
    background-color: #000; 
}

.header img {
    max-height: 50px; 
}

.navbar {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: center; 
}

.menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    margin: 0 20px;
}

.menu li a {
    text-decoration: none;
    color: #fff;
}

.search-bar-comeco {
    margin: 0 20px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    flex: 1;
    max-width: 300px; 
}

.icons {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.icons li {
    margin-left: 15px;
}

.icons img {
    max-height: 24px; 
}

.banner-principal {
    text-align: center;
    margin: 20px 0;
}

.banner-principal img {
    max-width: 100%;
    height: auto;
}

.melhores-precos {
    padding: 30px;
    background-color: #111; 
}

.melhores-precos h2 { 
    margin-bottom: 20px;
    color: #ffffff;
}

.melhores-precos h3 { 
    margin-left: 10px;

    color: #aa2626;

}
.card-bless {
    display: flex;
    justify-content: space-evenly;
    gap: 20px; 
    flex-wrap: nowrap;
}

.best-selling-products {
    padding: 30px;
    background-color: #111; 
}

.best-selling-products h2 {
    margin-bottom: 20px;
    color: #fff;
}

.best-selling-products h3 {
    margin-bottom: 2px;
    color: #aa2626;
}



.produtos {
    display: flex;
    justify-content: space-between;
    gap: 20px; 
}

.imagem-fundo img {
    width: 75%;
    height: 100%;
    padding-left: 160px;
    margin-left: 100px;
}

.box{
    display: flex;
    flex-direction: column;
}
.box .info{
    display: flex;
   flex-direction: column;
}
.box #value{
    color: #aa2626;
}


.content {
    display: flex;
    justify-content: space-between;
    background-color: #000; 
    color: #fff;
    padding: 20px 40px;
}

#coluna1, #coluna2, #coluna3, #coluna4, #coluna5 {
    flex: 1;
    margin: 0 20px;
}


#coluna1 input.search-bar {
    padding: 10px;
    width: 100%;
    margin-top: 10px;
    border: 1px solid #ccc;

}

h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

p {
    margin: 5px 0;
}

#coluna5 img {
    display: block;
    margin: 10px 0;
}

#coluna5 img:first-of-type {
    margin-bottom: 15px; 
}

.content img {
    width: 100px; 
}

footer {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #888;
}

@media screen and (max-width: 768px) {
    .content {
        flex-direction: column;
        align-items: center;
    }

    .content div {
        width: 100%;
        text-align: center;
        margin: 10px 0;
    }
}




  
